---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import BlogPost from "../components/BlogPost.astro";
import TableOfContents from "../components/TableOfContents.astro";

const blogPosts = await getCollection("blog");
---

<Layout title="Welcome to Astro.">
  <main class="flex flex-col gap-10">
    {blogPosts.map((post) => <BlogPost post={post} />)}
  </main>
  <aside slot="sidebar" class="bg-red-200 sticky top-5 h-fit rounded-md">
    <TableOfContents
      items={blogPosts.map((post) => ({
        title: post.data.title,
        slug: post.slug,
      }))}
    />
  </aside>
</Layout>
