---
import '@/styles/prism.css'

const today = new Date()
---

<footer>
  <p class="antialiased inline-block px-2 py-1 SecTextColor">
    &copy; {today.getFullYear()} CIC. All rights reserved.
  </p>
</footer>

<style>
  footer {
    padding: 25px;
    text-align: center;
  }
</style>
