---
import type { CollectionEntry } from 'astro:content'
import { getCollection } from 'astro:content'
import { excludeDrafts } from '@/lib/post'
import PostLayout from '@/layouts/PostLayout.astro'
import MarkdownHeader from '@/lib/MarkdownHeader'

type Props = {
  blog: CollectionEntry<'post'>
}

export const getStaticPaths = async () => {
  const allPosts = await getCollection('post', excludeDrafts)

  return allPosts.map((post) => ({
    params: {
      slug: post.slug,
    },
    props: {
      blog: post,
    },
  }))
}
const { blog } = Astro.props

if (blog === undefined) {
  return Astro.redirect('/404')
}

const { Content, headings } = await blog.render()
---

<PostLayout headings={headings} {...blog.data}>
  <div class="flex-1">
    <Content />
  </div>
</PostLayout>
