---
import TOCHeading from '@/components/TOCHeading.astro'
import { buildHierarchy } from '@/lib/post'

const { headings } = Astro.props

const toc = buildHierarchy(headings)
---

{
  toc && toc.length > 0 && (
    <nav class="article-toc">
      <ul>
        {toc.map((heading) => (
          <TOCHeading heading={heading} />
        ))}
      </ul>
    </nav>
  )
}
