---
import Base from '../layouts/Base.astro';
---

<Base title="home">
  <h1 class="text-4xl mb-4"> This package is fully typed with TypeScript. It exports the additional type Options. </h1>
</Base>

