---
import { type CollectionEntry, getCollection } from 'astro:content'
import MarkdownLayout from '@/layouts/MarkdownLayout.astro'

export const getStaticPaths = async () => {
  const posts = (await getCollection('blog'))
    .filter((post) => !post.data.draft)
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())

  return posts.map((post) => ({
    params: {
      slug: post.slug,
    },
    props: { blog: post },
  }))
}

type Props = {
  blog: CollectionEntry<'blog'>
}

const { blog } = Astro.props
const { Content } = await blog.render()

const description =
  blog.data.description || blog.body.slice(0, 30).replace(/\n/g, '')
---

<MarkdownLayout blog={blog} description={description}>
  <div class="pb-10">
    <div class="flex">
      <div class="text-5xl text-black dark:text-white font-bold">
        {blog.data.title}
      </div>
    </div>
    <div class="text-lg text-gray-500">
      <span>
        {
          blog.data.pubDate.toLocaleDateString('en-US', {
            year: 'numeric',
            month: 'short',
            day: '2-digit',
          })
        }
      </span>
    </div>
  </div>
  <Content />
</MarkdownLayout>

