---
import { type CollectionEntry, getCollection } from 'astro:content'
import MarkdownLayout from '@/layouts/MarkdownLayout.astro'
import { readingTime } from '@/lib/utils/readingTime'

export const getStaticPaths = async () => {
  const posts = (await getCollection('blog'))
    .filter((post) => !post.data.draft)
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())

  return posts.map((post) => ({
    params: {
      slug: post.slug,
    },
    props: { blog: post },
  }))
}

type Props = {
  blog: CollectionEntry<'blog'>
}

const { blog } = Astro.props
const { Content } = await blog.render()

const description =
  blog.data.description || blog.body.slice(0, 30).replace(/\n/g, '')
---

<MarkdownLayout blog={blog} description={description}>
  <div class="pb-10">
    <div class="flex">
      <div class="text-5xl text-black dark:text-white font-bold">
        {blog.data.title}
      </div>
    </div>
    <div class="text-lg text-gray-500">
      <span>
        {
          blog.data.pubDate.toLocaleDateString('en-US', {
            month: 'short',
            day: '2-digit',
          })
        }
      </span>
      <span>{readingTime(blog.body)}</span>
    </div>
  </div>

  <Content />
</MarkdownLayout>

<style is:global>
  main article.markdown-body {
    ul {
      @apply list-disc list-inside pl-4 mb-4;
    }
    h1,
    h2,
    h3,
    h4,
    h5 {
      @apply font-bold font-roto text-gray-800 dark:text-gray-300 mb-6;
    }
    h1 {
      @apply text-3xl;
    }
    h2 {
      @apply text-2xl;
    }
    h3 {
      @apply text-xl;
    }
    h4 {
      @apply text-lg;
    }
    img {
      @apply border border-gray-300 dark:border-gray-700 rounded-xl mb-6;
    }
    p {
      @apply text-gray-700 dark:text-gray-300 mb-6;
    }
    a {
      @apply underline underline-offset-2 text-black dark:text-white font-semibold decoration-gray-300 dark:decoration-gray-700 hover:decoration-black hover:dark:decoration-white transition-all;
    }
    code {
      font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
    }
    .astro-code {
      @apply p-3 border-2 border-gray-500 rounded-xl mb-6;
    }
  }
</style>
