---
import type { CollectionEntry } from 'astro:content'
import { getCollection } from 'astro:content'
import { excludeDrafts } from '@/lib/post'
import TOC from '@/components/TOC.astro'
import CurrentHeading from '@/lib/CurrentHeading'
import PostLayout from '@/layouts/PostLayout.astro'
import BackoTopButton from '@/lib/BackToTopButtom'
import MarkdownHeader from '@/lib/MarkdownHeader'
import CurrentHeading from '@/lib/CurrentHeading'

export const getStaticPaths = async () => {
  const allPosts = await getCollection('post', excludeDrafts)

  return allPosts.map((post) => ({
    params: {
      slug: post.slug,
    },
    props: {
      blog: post,
    },
  }))
}
const { blog } = Astro.props as { post: CollectionEntry<'post'> }

if (blog === undefined) {
  return Astro.redirect('/404')
}

const { Content, headings } = await blog.render()

---

<PostLayout headings={headings} {...blog.data}>
  <div class="flex-1">
    <Content />
  </div>
</PostLayout>
