---
const { content, githubEditUrl, headings } = Astro.props
---

<nav class="fixed t-0 l-0 b-0 w-72">test</nav>

<style>
  nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
  }
</style>
