---
import { getCollection } from 'astro:content'
import BaseLayout from '@/layouts/BaseLayout.astro'
import Content from '@/components/Content.astro'
import Section from '@/components/Section.astro'
import BlogLink from '@/lib/BlogLink'
import PostYear from '@/lib/PostYear'

const { year } = Astro.props

// 按年份分类和排序
const postsByYear = (await getCollection('post')).reduce((acc, post) => {
  const year = post.data.pubDate.getFullYear()
  acc[year] = acc[year] || []
  acc[year].push(post)
  return acc
}, {})
---

<BaseLayout
  title={`Posts from ${year}`}
  description={`All posts from the year ${year}`}
>
  <Content>
    <Section>
      <PostYear postYear={year} />
      <BlogLink posts={postsByYear[year]} />
    </Section>
  </Content>
</BaseLayout>
