---
import { getCollection } from 'astro:content'
import BlogLink from '@/lib/BlogLink'
import BlogLinkMore from '@/lib/BlogLinkMore'
import PostYear from '@/lib/PostYear'
import Content from '@/components/Content.astro'
import BaseLayout from '@/layouts/BaseLayout.astro'
import { siteMeta } from '@/consts'

// 按年份分类和排序
const postsByYear = (await getCollection('post')).reduce((acc, post) => {
  const year = post.data.pubDate.getFullYear()
  acc[year] = acc[year] || []
  acc[year].push(post)
  return acc
}, {})

// 将年份排序，从新到旧
const sortedYears = Object.keys(postsByYear).sort((a, b) => b - a)
---

<BaseLayout title={siteMeta.title} description={siteMeta.description}>
  <Content>
    <section>
      {
        sortedYears.map((year) => (
          <ul class="relative p-6">
            <PostYear postYear={year} />
            <BlogLink posts={postsByYear[year].slice(0, 6)} />
            <BlogLinkMore yearMore={year} />
          </ul>
        ))
      }
    </section>
  </Content>
</BaseLayout>
