---
import CurrentHeading from '@/lib/CurrentHeading'
import BackToTopButton from '@/lib/BackToTopButtom'

const { headings } = Astro.props
---

<div class="fixed bottom-4 right-10">
  <BackToTopButton />
  <CurrentHeading headings={headings} />
</div>
