---
import { siteMeta } from '@/consts'
import BaseLayout from '@/layouts/BaseLayout.astro'
import Content from '@/components/Content.astro'
---

<BaseLayout title={siteMeta.SITE_404} description={siteMeta.description}>
  <Content>
    <section>
      <div class="flex flex-col items-center justify-center h-screen">
        <h1 class="p-4 mb-4 text-5xl text-center font-blod bg-FourOFourBgImg">
        </h1>
        <h1 class="text-5xl text-center font-blod mt-12 mb-8">
          {siteMeta.SITE_404}
        </h1>
        <div class="text-center py-4">
          <a
            class="inline-flex items-center underline hover:no-underline"
            href="/"
          >
            Back to index
          </a>
        </div>
      </div>
    </section>
  </Content>
</BaseLayout>
