body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Helvetica Neue,
    Segoe UI, Oxygen, Ubuntu, Cantarell, Open Sans, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow-wrap: break-word;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
