body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Helvetica Neue,
    Segoe UI, Oxygen, Ubuntu, Cantarell, Open Sans, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow-wrap: break-word;
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="4" height="4"><circle cx="2" cy="2" r="0.5" fill="black"/></svg>');
}

::selection {
  background-color: yellow;
  color: black;
}

a {
  position: relative;
  text-decoration: none;
}

a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #333;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

a.active,
a:hover {
  border-radius: 0.5vmax;
  transform: scaleX(1);
  transition: all 0.3s ease-in-out;
}

.dark a.active,
.dark a:hover {
  border-radius: 0.5vmax;
  background-color: '#fff';
  color: '#000';
  transform: scaleX(1);
  transition: all 0.3s ease-in-out;
}
