footer {
  padding: 25px;
  text-align: center;
}

.textColor {
  @apply text-gray-700 dark:text-gray-300;
}

.linkColor {
  @apply text-gray-500 hover:text-black dark:hover:text-white transition-all;
}

.secColor {
  @apply text-gray-300 dark:text-gray-700;
}

.borderColor {
  @apply border border-gray-300 dark:border-gray-700;
}

.borderLeftColor {
  @apply border-l hover:border-gray-700 dark:border-gray-300;
}

.bgCardColor {
  @apply bg-gray-100 dark:bg-gray-900;
}

.iconColor {
  @apply text-gray-300 dark:text-gray-700;
}

.mastheadTextColor {
  color: #ff8c00;
}

.toc-item {
  display: flex;
  align-items: center;
}

#toc-wrapper {
  position: relative; /* 默认状态 */
  z-index: 10; /* 保证覆盖主要内容 */
}

#toc-wrapper.fixed {
  position: fixed; /* 固定在页面顶部 */
  top: 0;
  left: 0;
  right: 0;
  background-color: white; /* 背景色确保可见 */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
  z-index: 100; /* 确保固定的状态层级更高 */
}
