.textColor {
  @apply text-gray-700 dark:text-gray-300;
}

.linkColor {
  @apply text-gray-500 hover:text-black dark:hover:text-white transition-all;
}

.secColor {
  @apply text-gray-300 dark:text-gray-700;
}

.borderColor {
  @apply border border-gray-300 dark:border-gray-700;
}

.borderLeftColor {
  @apply border-l hover:border-gray-700 dark:border-gray-300;
}

.bgCardColor {
  @apply bg-gray-100 dark:bg-gray-900;
}

.iconColor {
  @apply text-gray-300 dark:text-gray-700;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 4s forwards; /* 动画持续时间为4秒 */
}
