---
import '@/styles/prism.css'
---

<div class="my-4 flex justify-center gap-1">
  <div class="flex tracking-tight px-4 py-2">
    <span class="text-grey-900 font-mplus font-bold">
      <slot />
    </span>
  </div>
</div>
