---
import Link from '@/components/Link.astro'
import '@/styles/prism.css'

const { yearLink } = Astro.props
---

<span class="secColor md:absolute md:right-1 md:top-2 stroke-[2px]">
  <Link className="text-6xl md:text-8xl " href={yearLink}>
    <slot />
  </Link>
</span>
