---
import BaseLayout from '@/layouts/BaseLayout.astro'
import Container from '@/components/Container.astro'
import Link from '@/components/Link.astro'
import { allTags } from '@/lib/utils'
import { siteMeta } from '@/consts'
import '@/styles/prism.css'

const sortedTags = Array.from(allTags).sort((a, b) =>
  a.localeCompare(b, 'en', { sensitivity: 'base' }),
)
---

<BaseLayout title={siteMeta.title} description={siteMeta.description}>
  <main class="pt-[56px]">
    <Container className="px-5 flex flex-col md:flex-row">
      <div class="md:w-4/6 space-y-4 p-4">
        {
          sortedTags.map((tag): string[] => (
            <section class="space-y-4 p-4">
              <ul class="flex flex-col gap-4">
                <div class="flex items-center justify-between space-x-4">
                  <div class="flex flex-col md:flex-row md:items-center truncate">
                    <Link href={`/tags/${tag.toLowerCase()}`}>
                      <span class="font-medium text-lg truncate">{tag}</span>
                    </Link>
                    <div class="secColor flex md:flex-row space-x-2 text-sm mt-1 md:mt-0 md:ml-4" />
                  </div>
                </div>
              </ul>
            </section>
          ))
        }
      </div>
    </Container>
  </main>
</BaseLayout>
