---
import GlobalHead from '../components/globalHead.astro';
import Body from '../components/Body.astro';
import Content from '../components/Content.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import '../styles/fadeFont.css';
---

<!DOCTYPE html>
<html lang="en">
<head>
  <GlobalHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>
<Body>
  <Content>
    <section class="text-5xl text-center font-sans mt-12 mb-8">
      <div class="flex flex-col items-center justify-center h-screen w-auto">
        <main class="flex flex-col md:flex-row justify-between md:w-4/5 lg:w-2/3">
          <div class="w-full md:w-1/2 p-8 md:mb-0 mb-8">
            <a href="/think" class="text-center block ">Think</a>
          </div>
          <div class="w-full md:w-1/2 p-8 md:mt-0 mt-8">
            <a href="/tips" class="text-center block ">tips</a>
          </div>
        </main>
      </div>
    </section>
  </Content>
</Body>
</html>

