---
import '@/styles/global.css'
import GlobalHead from '@/components/GlobalHead.astro'
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
import { siteMeta } from '@/consts'

type Props = {
  title: string
  description: string
}

// export const prerender = true
// server side rendering

const { title, description } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <GlobalHead title={title} description={description} />
  </head>
  <body
    class="bg-zinc-50 dark:bg-zinc-900 text-zinc-950 dark:text-zinc-50 break-words leading-6 transition-colors duration-500 w-full selection:bg-[#FFFF00] selection:text-zinc-950 bg-lightBgImg dark:bg-darkBgImg"
  >
    <Header title={siteMeta.title} />
    <main class="pt-[56px]">
      <slot />
    </main>
    <Footer />
  </body>
</html>
