---
import type { CollectionEntry } from 'astro:content'
import { getCollection } from 'astro:content'
import PostLayout from '@/layouts/PostLayout.astro'

type Props = {
  blog: CollectionEntry<'post'>
}

export const getStaticPaths = async () => {
  const excludeDrafts = ({ data }: CollectionEntry<'post'>): boolean => {
    // Usually this should be like this - import.meta.env.PROD ? !data.draft : true; but for the purpose of the demo, we are displaying drafts as well
    return import.meta.env.PROD ? true : true
  }
  const allPosts = await getCollection('post', excludeDrafts)

  return Array.from(allPosts).map((post): string => ({
    params: {
      slug: post.slug,
    },
    props: {
      blog: post,
    },
  }))
}
  const { blog } = Astro.props

if (blog === undefined) {
  return Astro.redirect('/404')
}

const { Content, headings } = await blog.render()
---

<PostLayout headings={headings} {...blog.data}>
  <div class="flex-1">
    <Content />
  </div>
</PostLayout>
