---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props
const isActive = href === Astro.url.pathname.replace(/\/$/, '')
---

<a
  class="gap-4 px-3 py-2 rounded-md text-lg font-medium inline-flex items-center underline"
  href={href}
  class:list={[className, { active: isActive }]}
  {...props}
>
  <slot />
</a>
