---
import type { CollectionEntry } from 'astro:content'
import Link from '@/components/Link.astro'

type Props = {
  entry: CollectionEntry<'blog'>
}

const { entry } = Astro.props
---

<div class="flex items-center justify-between space-x-4">
  <div class="flex flex-col md:flex-row md:items-center truncate">
    <span class="mr-10">
      {
        entry.data.pubDate.toLocaleDateString('en-US', {
          year: 'numeric',
          month: 'short',
          day: '2-digit',
        })
      }
    </span>
    <Link href={`/${entry.collection}/${entry.slug}`}>
      <span class="font-bold truncate">{entry.data.title}</span>
    </Link>
  </div>
</div>
