---
type Props = {
  buttonFunctionId: string
  children: any
}

const { buttonFunctionId } = Astro.props
---

<button id={buttonFunctionId} class="linkColor lineColor pl-2 pr-3 border-l">
  <slot />
</button>
