<div class="text-center py-4">
  <a class="p-2 inline-flex items-center gap-1 rounded-lg underline underline-offset-2 decoration-zinc-950 dark:decoration-zinc-50 hover:bg-gray-950 hover:text-gray-50 hover:dark:bg-gray-50 hover:dark:text-gray-950 transition-all" href="/">
    Back to index
  </a>
</div>
