<div class="text-center py-4">
  <a
    class="p-1 inline-flex items-center gap-1 rounded-lg underline underline-offset-2 decoration-gray-950 dark:decoration-gray-50 hover:bg-gray-950 hover:text-gray-50 hover:dark:bg-gray-50 hover:dark:text-gray-950 transition-shawdow"
    href="/"
  >
    Back to index
  </a>
</div>
