---
import { TbArrowBack } from 'react-icons/tb/index.js'
---

<div class="text-center py-4">
  <a class="inline-flex items-center gap-1 underline underline-offset-2 decoration-red-500" href="/">
    Back to index
  </a>
</div>
