---
const showButton = () => {
  // 监听滚动事件，显示/隐藏按钮
  const backToTopButton = document.getElementById('back-to-top')
  if (!backToTopButton) return

  if (window.scrollY > 200) {
    backToTopButton.classList.remove('hidden') // 显示按钮
  } else {
    backToTopButton.classList.add('hidden') // 隐藏按钮
  }
}

// 注册滚动事件监听器
if (typeof window !== 'undefined') {
  window.addEventListener('scroll', showButton)
}

const scrollToTop = () => {
  // 平滑滚动到页面顶部
  window.scrollTo({ top: 0, behavior: 'smooth' })
}
---

<!-- Back To Top Button -->
<button
  id="back-to-top"
  onclick="scrollToTop()"
  class="flex bottom-8 right-4 font-semibold px-4
  py-2 rounded shadow-lg transition-all"
  style="z-index: 1000;"
>
  Back To Top
</button>

<p>test</p>
