<div class="text-center py-4">
  <a class="p-1 inline-flex items-center gap-1 rounded-lg underline underline-offset-2 decoration-zinc-950 dark:decoration-zinc-50 hover:bg-zinc-950 hover:text-zinc-50 hover:dark:bg-zinc-50 hover:dark:text-zinc-950 transition-all" href="/">
    Back to index
  </a>
</div>
