---
import type { CollectionEntry } from 'astro:content'

import Time from './Time.astro'
import Link from './Link.astro'

type Props = {
  blog: CollectionEntry<'blog'>
}

const { blog } = Astro.props
---

<li
  class="text-center p-4 mb-4 border-2 border-zinc-950 dark:border-zinc-50 hover:bg-zinc-50 dark:hover:bg-zinc-950 hover:border-zinc-800 dark:hover:border-zinc-200 bg-white dark:bg-black rounded-xl"
>
  <Time date={blog.data.date} />
  <Link href={`/blog/${blog.slug}`}>{blog.data.title}</Link>
  <p class="line-clamp-2">{blog.data.summary}</p>
</li>
