---
import ThemeToggleButton from '@/lib/ThemeToggleButton'
import HeaderLink from '@/components/HeaderLink.astro'
import DropdownMenu from '@/lib/DropdownMenu'
import { allTags } from '@/lib/utils'
import '@/styles/prism.css'

const sortedTags = Array.from(allTags).sort((a, b) =>
  a.localeCompare(b, 'en', { sensitivity: 'base' }),
)
---

<header class="w-full bottom-2">
  <div class="mx-auto max-w-3xl">
    <nav
      class="flex gap-4 text-base bg-gray-50 dark:bg-gray-950 border-2 border-black dark:border-white rounded-xl"
    >
      <nav class="flex items-center gap-4 p-4">
        {
          sortedTags.map((tag) => (
            <HeaderLink href={`/categories/${tag.toLowerCase()}`}>
              {tag}
            </HeaderLink>
          ))
        }
      </nav>

      <div class="flex-1"></div>

      <div class="block md:hidden" title="Category">
        <DropdownMenu client:visible tags={Array.from(allTags)} />
      </div>
      <div class="flex p-2 gap-4" title="Theme">
        <ThemeToggleButton client:visible />
      </div>
    </nav>
  </div>
</header>
