---
const today = new Date()
---

<footer>
  <p
    class="antialiased inline-block px-2 py-1 text-gray-300 dark:text-gray-700"
  >
    &copy; {today.getFullYear()} CIC. All rights reserved.
  </p>
</footer>

<style>
  footer {
    padding: 25px;
    text-align: center;
  }
</style>
