---
const today = new Date()
---

<footer>
  <p class="bg-gray-50 dark:bg-gray-950 inline-block px-2 py-1 rounded-md">
    &copy; {today.getFullYear()} CIC. All rights reserved.
  </p>
</footer>

<style>
  footer {
    padding: 25px;
    text-align: center;
  }
</style>
