---
import type { MarkdownHeading } from 'astro'
import ThemeToggleButton from '@/lib/ThemeToggleButton'
import DropdownMenu from '@/lib/DropdownMenu'
import { postsByYear, sortedYears } from '@/lib/post'
import Link from '@/components/Link.astro'
import BlogLinkMore from '@/lib/BlogLinkMore'
import { allPosts } from '@/lib/post'
import '@/styles/prism.css'

export interface Props {
  content: {
    title: string
  }
  headings: MarkdownHeading[]
  description: string
  tags: string[]
}

const allTags = new Set<string>()
allPosts.map((post) => {
  post.data.tags && post.data.tags.map((tag: string) => allTags.add(tag))
})
---

<header class="sticky w-full p-2 z-20">
  <div class="mx-auto max-w-5xl">
    <nav class="flex items-center text-base gap-3 space-between">
      <Link href="/" data-astro-prefetch="false" className="group">
        <h2 class="pl-5 font-semibold antialiased" title="@JoYo">JoYo</h2>
      </Link>

      <div class="flex-1"></div>

      <Link className="p-2" href="/blog">Blog</Link>
      <Link className="hidden md:block p-2" href="/categories">Categories</Link>
      <div class="block md:hidden linkColor" title="Category">
        <DropdownMenu
          client:visible
          a1={Array.from(allTags)}
          a2="categories"
          a3="Categories"
        />
      </div>
      <div class="linkColor p-2" title="Theme">
        <ThemeToggleButton client:visible />
      </div>
    </nav>
  </div>
</header>
