---
import ThemeToggleButton from '@/lib/ThemeToggleButton'
import Link from '@/components/Link.astro'
import HeaderLink from '@/components/HeaderLink.astro'
import HeaderTagsList from '@/components/HeaderTagsList.astro'
import DropdownMenu from '@/lib/DropdownMenu'
import { allTags } from '@/lib/utils'
import '@/styles/prism.css'

const sortedTags = Array.from(allTags).sort((a, b) =>
  a.localeCompare(b, 'en', { sensitivity: 'base' }),
)
---

<header class="w-full z-20">
  <div class="mx-auto max-w-5xl">
    <nav class="flex items-center gap-3 text-base">
      <Link className="group " href="/" data-astro-prefetch="false">
        <h2 class="font-semibold tracking-tighter p-2 font-mplus text-lg">
          JOYO
        </h2>
      </Link>
      <div class="flex-1"></div>
      <div class="flex items-center gap-4">
        <HeaderLink href="/blog">Blog</HeaderLink>
        <div class="hidden md:block" title="Category">
          <HeaderTagsList tags={sortedTags} />
        </div>
        <div class="block md:hidden" title="Category">
          <DropdownMenu
            client:visible={{ rootMargin: '200px' }}
            tags={sortedTags}
          />
          <!--<DropdownMenu client:visible tags={Array.from(allTags)} />-->
        </div>
        <div class="p-2" title="Theme">
          <ThemeToggleButton client:visible />
        </div>
      </div>
    </nav>
  </div>
</header>
