---
import ThemeToggleButton from './ThemeToggleButton';
import TagsLink from './TagsLink';
import DropdownMenu from './DropdownMenu'

const allPosts = await Astro.glob('../pages/posts/*.md')
const allTags = new Set<string>()
allPosts.map(post => {
    post.frontmatter.tags &&
    post.frontmatter.tags.map((tag: string) => allTags.add(tag))
  })
---

<header class="fixed w-full p-2 z-20">
  <div class="mx-auto max-w-3xl">
      <nav class="flex items-center justify-between gap-3 text-base ">
        <a href="/" class="group">
          <h2 class="font-semibold tracking-tighter p-2 text-lg bg-gray-50 dark:bg-gray-950 hover:bg-gray-950 hover:text-gray-50 hover:dark:bg-gray-50 hover:dark:text-gray-950 rounded-md">
            C.I.C
          </h2>
        </a>
        <ThemeToggleButton client:visible />
        <div class="hidden md:flex gap-4">
          <TagsLink tags={Array.from(allTags)} />
        </div>
        <div class="md:hidden flex">
          <DropdownMenu client:visible tags={Array.from(allTags)} />
        </div>
      </nav>
  </div>
</header>

