---
import type { MarkdownHeading } from 'astro'
import { getCollection } from 'astro:content'
import ThemeToggleButton from '@/lib/ThemeToggleButton'
import DropdownMenu from '@/lib/DropdownMenu'
import Link from '@/components/Link.astro'

export interface Props {
  content: {
    title: string
  }
  headings: MarkdownHeading[]
  tags: string[]
}

const { tags = [] } = Astro.props

const allPosts = await getCollection('post')
const allTags = new Set<string>()
allPosts.map((post) => {
  post.data.tags && post.data.tags.map((tag: string) => allTags.add(tag))
})

console.log('Astro.props:', Astro.props)
console.log('tags:', tags)
---

<header class="sticky w-full p-2 z-20">
  <div class="mx-auto max-w-5xl">
    <nav class="flex items-center text-base gap-3">
      <Link href="/" data-astro-prefetch="false" className="group">
        <h2
          class="p-2 font-semibold antialiased tracking-tighter hover:bordertl-zinc-950"
        >
          C.I.C
        </h2>
      </Link>

      <div class="flex-1"></div>
      <div>
        <Link
          href="/blog"
          className="p-2 text-zinc-500 hover:text-zinc-900 dark:hover:text-zinc-100"
        >
          Blog
        </Link>
      </div>
      <div class="hidden md:block">
        <Link
          href="/categories"
          className="p-2 text-zinc-500 hover:text-zinc-900 dark:hover:text-zinc-100"
        >
          Categories
        </Link>
      </div>
      <div class="block md:hidden">
        <DropdownMenu client:visible tags={Array.from(allTags)} />
      </div>
      <ThemeToggleButton client:visible />
    </nav>
  </div>
</header>
