---
import HeaderLink from './HeaderLink.astro';
import ThemeToggleButton from './ThemeToggleButton';
import Location from '../components/Location.astro';
import TagsLink from '../components/TagsLink.astro';

export interface Props {
  category: string
}

const { category } = Astro.props

---

<header class="fixed w-full p-2 z-20">
  <div class="mx-auto max-w-3xl">
      <nav class="flex items-center justify-between gap-3 text-base ">
        <Location>{category}</Location>
        <HeaderLink  href='/think'>think</HeaderLink>
        <ThemeToggleButton client:visible />
        <HeaderLink href='/tips'>tips</HeaderLink>
        <TagsLink client:visible tags={Array.from(allTags)} />
      </nav>
  </div>
</header>

