---
import HeaderLink from '@/components/HeaderLink.astro'
import HeaderList from '@/components/HeaderList.astro'
import DropdownMenuNoJs from '@/components/DropdownMenuNoJs.astro'
import ThemeToggleButton from '@/lib/ThemeToggleButton'
import DropdownMenu from '@/lib/DropdownMenu'
---

<header class="w-full p-2 z-20 backdrop-blur-md">
  <div class="mx-auto max-w-3xl">
    <nav class="flex items-center gap-3 text-base">
      <HeaderLink href="/" data-astro-prefetch="false">
        <h2 class="font-semibold tracking-tighter p-2 font-mplus text-lg">
          JOYO
        </h2>
      </HeaderLink>
      <div class="flex-1"></div>
      <div class="flex items-center gap-4 p-2">
        <div class="hidden sm:block">
          <HeaderList />
          <slot />
        </div>
        <!--yes js-->
        <div class="block md:hidden">
          <DropdownMenu iconName="menu" client:visible>
            <HeaderList />
          </DropdownMenu>
        </div>
        <!-- No js -->
        <noscript>
          <DropdownMenuNoJs />
        </noscript>
      </div>
      <ThemeToggleButton client:visible />
    </nav>
  </div>
</header>
