---
import { getCollection, type CollectionEntry } from 'astro:content'
import type { MarkdownHeading } from 'astro'
import ThemeToggleButton from '@/lib/ThemeToggleButton'
import DropdownMenu from '@/lib/DropdownMenu'
import Link from '@/components/Link.astro'
import '@/styles/prism.css'

export interface Props {
  content: {
    title: string
  }
  headings: MarkdownHeading[]
  description: string
  tags: string[]
  categoryLocation: string
}

const allPosts = await getCollection('post')

const allTags = new Set<string>()
allPosts.map((post) => {
  post.data.tags && post.data.tags.map((tag: string) => allTags.add(tag))
})

const sortedTags = Array.from(allTags).sort((a, b) =>
  a.localeCompare(b, 'en', { sensitivity: 'base' }),
)

const { categoryLocation } = Astro.props
---

<header class="sticky w-full p-2 z-20">
  <div class="mx-auto max-w-5xl">
    <nav class="flex items-center text-base gap-3 space-between">
      <Link href="/about" data-astro-prefetch="false" className="group">
        <h2 class="p-5 font-semibold antialiased" title="@JoYo">JoYo</h2>
      </Link>

      <div class="flex-1"></div>

      <div class="flex flex-wrap gap-2">
        {
          sortedTags.map((tag): string[] => (
            <Link
              className="hidden md:block hover:decoration-black dark:hover:decoration-white transition-all"
              href={`/categories/${tag.toLowerCase()}`}
            >
              {String(tag) === categoryLocation ? `[ ${tag} ]` : `${tag}`}
            </Link>
          ))
        }
      </div>
      <div class="block md:hidden linkColor" title="Category">
        <DropdownMenu client:visible tags={Array.from(allTags)} />
      </div>
      <div class="p-2" title="Theme">
        <ThemeToggleButton client:visible />
      </div>
    </nav>
  </div>
</header>
