---
import TagsLink from './TagsLink'
import DropdownMenu from './DropdownMenu'
import ThemeToggleButton from './ThemeToggleButton'
import HeaderHidden from './HeaderHidden'

const allPosts = await Astro.glob('../pages/posts/*.md')
const allTags = new Set<string>()
allPosts.map(post => {
  post.frontmatter.tags &&
    post.frontmatter.tags.map((tag: string) => allTags.add(tag))
})
---

<header class="fixed w-full p-2 z-20">
  <div class="mx-auto max-w-5xl">
    <nav class="flex items-center justify-between gap-3 text-base">
      <a href="/">
        <h2
          class="underline underline-offset-2 p-2 font-semibold tracking-tighter gap-4 rounded-md text-lg text-zinc-50 dark:text-zinc-950 bg-zinc-950 dark:bg-zinc-50 hover:bg-zinc-50 hover:text-zinc-950 hover:dark:bg-zinc-950 hover:dark:text-zinc-50 transition-all"
        >
          C.I.C
        </h2>
      </a>

      <div class="flex gap-4">
        <div
          class="hidden md:flex gap-5 border-2 border-zinc-950 dark:border-zinc-50 rounded-md bg-zinc-50 dark:bg-zinc-950 display:inline-block"
        >
          <TagsLink tags={Array.from(allTags)} />
        </div>
        <div class="md:hidden flex">
          <DropdownMenu client:visible tags={Array.from(allTags)} />
        </div>
        <ThemeToggleButton client:visible />
      </div>
    </nav>
  </div>
</header>
