---
import ThemeToggleButton from '@/lib/ThemeToggleButton'
import MobileMenu from '@/components/MobileMenu.astro'
import HeaderLink from '@/components/HeaderLink.astro'
import '@/styles/prism.css'
---

<header class="w-full z-20">
  <div class="mx-auto max-w-4xl">
    <nav class="flex items-center gap-3 text-base">
      <HeaderLink href="/" data-astro-prefetch="false">
        <h2 class="font-semibold tracking-tighter p-2 font-mplus text-lg">
          JOYO
        </h2>
      </HeaderLink>
      <div class="flex-1"></div>
      <div class="flex items-center gap-4 p-2">
        <div class="hidden sm:block">
          <HeaderLink href="/blog">Blog</HeaderLink>
          <slot />
        </div>
        <div class="block md:hidden">
          <MobileMenu typeId="categoryMenu" menuTitle="Menu">
            <div class="p-2">
              <HeaderLink href="/blog">Blog</HeaderLink>
            </div>
          </MobileMenu>
        </div>
        <ThemeToggleButton client:visible />
      </div>
    </nav>
  </div>
</header>
