---
import ThemeToggleButton from './ThemeToggleButton';
import TagsLink from './TagsLink';
import DropdownMenu from './DropdownMenu'

const allPosts = await Astro.glob('../pages/posts/*.md')
const allTags = new Set<string>()
allPosts.map(post => {
    post.frontmatter.tags &&
    post.frontmatter.tags.map((tag: string) => allTags.add(tag))
  })
---

<header class="fixed w-full p-2 z-20">
  <div class="mx-auto max-w-3xl">
    <nav class="flex items-center justify-between gap-3 text-base">
      <a href="/" class="group">
        <h2 class="font-semibold tracking-tighter p-2 text-lg border-4 border-zinc-50 dark:border-zinc-950 bg-zinc-50 dark:bg-zinc-950 hover:bg-zinc-950 hover:text-zinc-50 hover:dark:bg-zinc-50 hover:dark:text-zinc-950 rounded-xl transition-all">
          @C.I.C
        </h2>
      </a>
      <div class="flex gap-4">
        <div class="hidden md:flex gap-5">
          <TagsLink tags={Array.from(allTags)} />
        </div>
        <div class="md:hidden flex">
          <DropdownMenu client:visible tags={Array.from(allTags)} />
        </div>
        <ThemeToggleButton client:visible />
      </div>
    </nav>
  </div>
</header>

