---
import '@/styles/prism.css'

type Props = {
  href: string
  className?: string
  children: any
}

const { href, className = '' } = Astro.props
const pattern = /^(http|https):\/\/[\w/:%#\$&\?\(\)~\.=\+\-]+$/
const isExternal = pattern.test(href)
---

<a
  class={`linkColor block font-normal no-underline md:mr-3 z-10 ${className ?? ''}`}
  href={href}
  target={isExternal ? '_blank' : undefined}
  rel={isExternal ? 'noreferrer noopener' : undefined}
>
  <slot />
</a>
