---
import { IoChevronForward } from 'react-icons/io5/index.js';
---

<div class="my-4">
  <a href="/" class="underline underline-offset-2">@</a>
  <IoChevronForward className="opacity-50" />
  <span class="text-grey-500 font-roto font-bold"><slot /></span>
</div>
