---
interface Props {
    tags: string[]
}

const { tags } = Astro.props
---

<div>
  <div>
    {
      tags.map((tag: string) => {
        { <a href='../pages/category/${tag.toLowerCase() }'>{tag}</a>}
      })
    }
  </div>
</div>
