---
import { SunIcon, MoonIcon } from '@heroicons/react/24/solid'
---

<div class="p-2 cursor-pointer flex">
  <button id="light-theme-button" aria-label="Light theme">
    <SunIcon className="w-6 h-6" />
  </button>
  <p>/</p>
  <button id="dark-theme-button" aria-label="Dark theme">
    <MoonIcon className="w-6 h-6" />
  </button>
</div>
