---
import type { MarkdownHeading } from 'astro'
import '@/styles/prism.css'

type Props = {
  headings: MarkdownHeading[]
  cutBgColor?: boolean
}

const { headings, cutBgColor = false } = Astro.props
---

{
  headings.map((heading) => (
  <li class=`lineColor border-l flex p-2 ${cutBgColor ? 'bg-white dark:bg-black transition-colors' : 'bg-transparent' }`>
      <a
        class="text-gray-300 dark:text-gray-700 block text-sm"
        href={`#${heading.slug}`}
      >
        {heading.text}
      </a>
    </li>
  ))
}
