---
import type { MarkdownHeading } from 'astro'
import '@/styles/prism.css'

type Props = {
  headings: MarkdownHeading[]
}

const { headings } = Astro.props
---

<ol class="list-none pl-0 my-0 ml-1 relative">
  {
    headings.map((heading) => (
      <li class=" lineColor border-l flex p-2">
        <a
          class="text-gray-300 dark:text-gray-700 block text-sm"
          href={`#${heading.slug}`}
        >
          {heading.text}
        </a>
      </li>
    ))
  }
</ol>
