---
import type { MarkdownHeading } from 'astro'
import TOC from '@/components/TOC.astro'

interface Props {
  headings: MarkdownHeading[]
}

const { headings } = Astro.props
---

<div class="relative inline-block text-left">
  <!-- Checkbox toggle -->
  <input type="checkbox" id="toggle-toc" class="hidden peer" />

  <!-- Label as toggle button -->
  <label
    for="toggle-toc"
    class="z-50 flex items-center justify-center cursor-pointer"
  >
    <p class="linkColor text-sm">TOC</p>
  </label>

  <!-- TOC -->
  <aside
    class="fixed bg-transparent top-3 left-4 p-4 max-h-96 overflow-y-auto transition-transform transform scale-0 peer-checked:scale-100 origin-top-left"
  >
    <TOC headings={headings} cutBgColor={true} />
  </aside>
</div>
