---
import type { CollectionEntry } from 'astro:content'
import TOC from '@/components/TOC-2.astro'

// const { post } = Astro.props as { post: CollectionEntry<'post'>['data'] }
// const { headings } = await post.render()

// const topHeadings = headings.filter(
//  (heading) => heading.depth <= 3 && heading.isTopContent,
// )
---

<!-- 
  <div class="border-2 border-zinc-100">
    {
      headings && headings.length > 0 && (
        <nav class="article-toc">{<TOC headings={topHeadings} />}</nav>
      )
    }
  </div>
-->
<header class="fixed">
  <p>hello</p>
</header>
