---
import BaseLayout from '@/layouts/BaseLayout.astro'
import Content from '@/components/Content.astro'
import BlogLink from '@/lib/BlogLink'
import PostYear from '@/lib/PostYear'
import { postsByYear } from '@/lib/post'

const { year } = Astro.props
---

<BaseLayout
  title={`Posts from ${year}`}
  description={`All posts from the year ${year}`}
>
  <Content>
    <section>
      <PostYear postYear={year} />
      <BlogLink posts={postsByYear[year]} />
    </section>
  </Content>
</BaseLayout>
