---
import BlogYearPosts from '@/lib/BlogYearPosts'
import BlogYearMorePosts from '@/lib/BlogYearMorePosts'
import { getCollection } from 'astro:content'
import BaseLayout from '@/layouts/BaseLayout.astro'
import { siteMeta } from '@/consts'

// 获取所有 Markdown 文件
const allPosts = await getCollection('post')

// 按年份分类和排序
const postsByYear = allPosts.reduce((acc, post) => {
  const year = post.data.pubDate.getFullYear() // 假设你在 Markdown 文件中有日期字段
  if (!acc[year]) {
    acc[year] = []
  }
  acc[year].push(post)
  return acc
}, {})

// 将年份排序，从新到旧
const sortedYears = Object.keys(postsByYear).sort((a, b) => b - a)
---

<BaseLayout title={siteMeta.title} description={siteMeta.description}>
  <section>
    <ul class="max-w-2xl mx-auto">
      {
        sortedYears.map((year) => (
          <>
            <BlogYearPosts year={year} posts={postsByYear[year].slice(0, 6)}  />
            <BlogYearMorePosts year={year} />
          </>
        ))
      }
    </ul>
  </section>
</BaseLayout>
