---
import type { CollectionEntry } from 'astro:content'

import { getPosts } from '@/lib/blog'
import MarkdownLayout from '@/layouts/MarkdownLayout.astro'
import TOC from '@/components/TOC.astro'

export const getStaticPaths = async () => {
  const allPosts = await getPosts()

  return allPosts.map(post => ({
    params: { slug: post.slug },
    props: { post }
  }))
}

const { blog } = Astro.props as { blog: CollectionEntry<'blog'> }
const { Content, headings } = await blog.render()

headings.filter(heading => heading.depth <= 3)

const description =
  blog.data.summary || blog.body.slice(0, 30).replace(/\n/g, '')

const toc = headings.filter(
  heading =>
    heading.depth <= 3 &&
    !(heading.slug === 'footnote-label' && heading.text === 'Footnotes')
)
---

<MarkdownLayout title={blog.data.title} description={description}>
  <div class="xl:grid xl:grid-cols-10 xl:gap-8 xl:items-start">
    <!-- TODO: <div class="xl:col-span-1" /> -->
    <div class="xl:col-span-7">
      <Content />
    </div>
    <aside
      class="hidden xl:col-span-3 xl:flex xl:flex-col xl:sticky xl:top-28 gap-y-6"
    >
      {toc.length > 0 && <TOC headings={toc} />}
    </aside>
  </div>
</MarkdownLayout>
