---
import { type CollectionEntry } from 'astro:content'
import { getCollection } from 'astro:content'
import Link from '@/components/Link.astro'

const posts = (await getCollection('post')).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
) // time date

const latestPosts = posts.slice(0, 5) // max 5 posts
---

<section>
  <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
    {
      latestPosts.map((post) => (
        <Link href={`/post/${post.slug}/`}>
          <li class="text-center p-4 mb-4 bg-white dark:bg-zinc-950 border-2 border-zinc-500 rounded-xl">
            <slot />
          </li>
        </Link>
      ))
    }
  </ul>
</section>
