---
const today = new Date()
---

<footer>
  <p
    class="antialiased bg-white dark:bg-black inline-block px-2 py-1 rounded-md"
  >
    &copy; {today.getFullYear()} CIC. All rights reserved.
  </p>
</footer>

<style>
  footer {
    padding: 25px;
    text-align: center;
  }
</style>
