---
import { siteMeta } from '@/consts'
import BaseLayout from '@/layouts/BaseLayout.astro'
import Content from '@/components/Content.astro'
---

<BaseLayout title={siteMeta.SITE_404} description={siteMeta.description}>
  <Content>
    <section>
      <div class="flex flex-col items-center justify-center h-screen">
        <h1 class="p-4 mb-4 text-5xl text-center font-blod bg-FourOFourBgImg">
          <h1 class="text-5xl text-center font-blod mt-12 mb-8">
            {siteMeta.SITE_404}
          </h1>
          <div class="text-center py-4">
            <a
              class="p-1 inline-flex items-center gap-1 rounded-lg underline underline-offset-2 decoration-gray-950 dark:decoration-gray-50 hover:bg-gray-950 hover:text-gray-50 hover:dark:bg-gray-50 hover:dark:text-gray-950 transition-shawdow"
              href="/"
            >
              Back to index
            </a>
          </div>
        </h1>
      </div>
    </section>
  </Content>
</BaseLayout>
