body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Helvetica Neue,
    Segoe UI, Oxygen, Ubuntu, Cantarell, Open Sans, sans-serif;
  text-rendering: optimizeLegibility;
  overflow-wrap: break-word;
  animation: fade 3s ease;
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="4" height="4"><circle cx="2" cy="2" r="0.5" fill="black"/></svg>');
}

::selection {
  background-color: yellow;
  color: black;
}

a {
  color: inherit;
  background-color: white;
}

.dark a {
  background-color: black;
}

a.active,
a:hover {
  border-radius: 0.5vmax;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.dark a.active,
.dark a:hover {
  border-radius: 0.5vmax;
  background-color: '#fff';
  color: '#000';
}

.text {
  padding: 0.125rem;
  background-color: white;
}
