---
import '@/styles/global.css'
import GlobalHead from '@/components/GlobalHead.astro'
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
import { siteMeta } from '@/consts'

type Props = {
  title: string
  description: string
}

export const prerender = true
// server side rendering

const { title, description } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <GlobalHead title={title} description={description} />
  </head>
  <body
    class="bg-gray-50 dark:bg-gray-900 text-gray-950 dark:text-gray-50 break-words leading-6 transition-colors duration-500 w-full selection:bg-[#FFFF00] selection:text-gray-950 bg-lightBgImg dark:bg-darkBgImg"
  >
    <Header {...Astro.props} title={siteMeta.title} />
    <div class="p-4">
      <main class="pt-[56px]">
        <slot />
      </main>
    </div>
    <Footer />
  </body>
</html>
