---
import HeaderLink from './HeaderLink.astro';
import ThemeToggleButton from './ThemeToggleButton';
---

<header class="fixed w-full p-2 z-20 ">
  <div class="mx-auto max-w-3xl">
      <nav class="flex items-center justify-between gap-3 text-base">
        <HeaderLink  href='/think'>think</HeaderLink>
        <ThemeToggleButton client:visible />
        <HeaderLink href='/tips'>tips</HeaderLink>
      </nav>
  </div>
</header>

