---
import GlobalHead from '@/components/GlobalHead.astro'
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
import '@/styles/global.css'

type Props = {
  title: string
  description: string
}

// export const prerender = true
// server side rendering

const { title, description } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <GlobalHead title={title} description={description} />
  </head>
  <body
    class="textColor bg-white dark:bg-black break-words leading-6 transition-colors duration-500 selection:bg-[#f2f2f2] dark:selection:bg-[#1E1E1E]"
  >
    <slot />
    <Footer />
  </body>
</html>
