---
import { type CollectionEntry } from 'astro:content'
import BaseLayout from '@/layouts/BaseLayout.astro'
import Container from '@/components/Container.astro'
import Header from '@/components/Header.astro'
import BackToButton from '@/components/BackToButton.astro'
import { siteMeta } from '@/consts'

type Props = {
  children: any
  description: string
  blog: CollectionEntry<'blog'>
}

const { blog, description } = Astro.props
---

<BaseLayout title={blog + ` / ${siteMeta.title}`} description={description}>
  <Header>
    <span>/</span>
    <span class="underline font-bold">{blog.data.title}</span>
  </Header>
  <main class="pt-[56px]">
    <Container className="pt-6 markdown-body">
      <div class="mb-8">
        <slot />
        <hr class="border-top border-gray-300 dark:border-gray-700 my-4" />
        <BackToButton buttonFunctionId="back-to-prev">
          Back to blog
        </BackToButton>
        <BackToButton buttonFunctionId="back-to-top">Back to top</BackToButton>
      </div>
    </Container>
  </main>
</BaseLayout>
