---
import BaseLayout from '@/layouts/BaseLayout.astro'
import Content from '@/components/Content.astro'
import PostList from '@/components/PostList.astro'

const { year } = Astro.props
---

<BaseLayout
  title={`Posts from ${year}`}
  description={`All posts from the year ${year}`}
>
  <Content>
    <section>
      <PostList yearLinkLocation={`/`} update={year} limit={false} />
    </section>
  </Content>
</BaseLayout>
