---
import { getCollection } from 'astro:content'
import BaseLayout from '@/layouts/BaseLayout.astro'
import BlogYearPosts from '@/lib/BlogsLink'

const allPosts = await getCollection('post')
const { year } = Astro.props

const postsByYear = allPosts.reduce((acc, post) => {
  const year = post.data.pubDate.getFullYear() // 假设你在 Markdown 文件中有日期字段
  if (!acc[year]) {
    acc[year] = []
  }
  acc[year].push(post)
  return acc
}, {})
---

<BaseLayout
  title={`Posts from ${year}`}
  description={`All posts from the year ${year}`}
>
  <section>
    <ul class="max-w-2xl mx-auto">
      <BlogYearPosts years={year} posts={postsByYear[year]} />
    </ul>
  </section>
</BaseLayout>
