---
import BaseLayout from '@/layouts/BaseLayout.astro'
import Content from '@/components/Content.astro'
import TagsLink from '@/lib/TagsLink'
import Masthead from '@/components/Masthead.astro'
import { allPosts } from '@/lib/post'
import { siteMeta } from '@/consts'

const allTags = new Set<string>()
allPosts.map((post) => {
  post.data.tags && post.data.tags.map((tag: string) => allTags.add(tag))
})

const sortedTags = Array.from(allTags).sort((a, b) =>
  a.localeCompare(b, 'en', { sensitivity: 'base' }),
)
---

<BaseLayout title={siteMeta.title} description={siteMeta.description}>
  <Masthead />
  <Content>
    <section>
      <div class="flex flex-wrap p-4 gap-5 border rounded-md">
        <TagsLink tags={sortedTags} />
      </div>
    </section>
  </Content>
</BaseLayout>
